{% extends 'base.html' %}
{% load digital_tags %}

{% block title %}
{{ title }}
{% endblock title %}





{% block main %}

<main class="main">
            <div class="container">
                <section class="products">
                    <h2 class="products__title">Хиты продаж</h2>
                    <div class="products__content">

                        <!-- /.products__item -->
                        {% for category in categories %}
                        {% for product in category.products.all %}
                        {% include 'digital/components/_card_product.html' %}
                        {% endfor %}
                        {% endfor %}


                        <!-- /.products__item -->

                    </div>
                    <!-- /.products__content -->
                </section>
                <!-- /.products -->
            </div>
            <!-- /.container -->
        </main>
{% endblock main %}